
<li class="nav-item dropdown" ngbDropdown>
    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
        <i class="fa fa-user"></i><b class="caret"></b>
    </a>
    <div class="dropdown-menu-right" ngbDropdownMenu>
        <a class="dropdown-item" [routerLink]="['/signup']">
            <i class="fa fa-fw fa-gear"></i> Register
        </a>
        <a class="dropdown-item" [routerLink]="['/login']">
            <i class="fa fa-fw fa-power-off"></i> Login
        </a>
    </div>
</li>